{% extends 'app/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}

<div class="container">
 <div class="row mt-5">
  <div class="col-sm-6">
    <h4>Order Summary</h4>
    <hr>
    {% for item in cart_item %}
      <div class="card mb-2">
        <div class="card-body">
          <h5>Product: {{item.product.title}}</h5>
          <p>Quantity: {{item.quantity}}</p>
          <p class="fw-bold">Price: {{item.total_cost}}</p>
        </div>
      </div>
      {% endfor %}
      <p class="fw-bold">Total Cost + Shipping Charge (Rs.50) = {{totalamount}}</p>
    <small>Term and Condition:Inclusive of all GST</small>
  </div>
  <div class="col-sm-4 offset-sm-1">
    <h4>Select Shipping Address</h4>
    <hr>
    <form action="/paymentdone/" id="myform">
      {% for ad in add %}
      <div class="card">
        <div class="card-body">
        <h5>Name:{{ad.name}}</h5>
        <p>Mobile:{{ad.mobile}}</p>
        <p>Address:{{ad.city}},{{ad.area}} - {{ad.pincode}}</p>
        </div>
      </div>
        <div class="form-check mt-2 mb-5">
          <input class="form-check-input" type="radio" name="custid" id="custadd{{forloop.counter}}" value="{{ad.id}}">
          <label class="form-check-label fw-bold" for="{{forloop.counter}}">
            Address: {{forloop.counter}} </label>
        </div>
        {% endfor %}
          <div class="text-end">
        <form>
          <label for="Payment">Method of Payment:</label>
          <select name="Payment" id="payment-system">
            <option value="cash">Cash On Delivery</option>
          </select>
          <input type="submit" class="btn btn-warning" value="Submit" id="submit-method" />
        </form>
      </div>
     </div>   
  </div>
</div>
{% endblock main-content %}